<!doctype html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary" style="background: #f9fbfd;">

    <!-- CONTENT
    ================================================== -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-xl-4 mb-5">
          <div class="d-flex justify-content-center">
            <img class="avatar avatar-xxl" src="/img/icons/auth-logo.svg" alt="" />
          </div>
          <div class="card">
            <div class="card-body">
          
              <!-- Heading -->
              <h1 class="display-4 text-center mb-3">
                Password reset
              </h1>
              
              <!-- Subheading -->
              <p class="text-muted text-center mb-5">
                Enter your new password.
              </p>
              
              <!-- Form -->
              <form id="password-recovery-form">

                <!-- Password -->
                <div class="form-group">

                  <!-- Label -->
                  <label>New Password</label>

                  <!-- Input -->
                  <input type="password" id="password" class="form-control" placeholder="******" required>

                </div>

                <!-- Submit -->
                <button class="btn btn-lg btn-block btn-primary mb-3">
                  Reset Password
                </button>

                <!-- Link -->
                <div class="text-center">
                  <small class="text-muted text-center">
                    Remember your password? <a href="/signin">Log in</a>.
                  </small>
                </div>
                
              </form>
            </div>
          </div>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->

    <!-- JAVASCRIPT
    ================================================== -->
    <% include ../partials/scripts %>

  </body>
</html>