<!doctype html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">
    <!-- CONTENT
    ================================================== -->
    <div class="container">
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="/img/logo.svg" style="width: 20px; height: auto;" class="rounded mr-2" alt="logo" />
          <strong class="mr-auto toast-title"></strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-xl-4 mb-5">

          <div class="d-flex justify-content-center">
            <img class="avatar avatar-xxl" src="/img/icons/auth-logo.svg" alt="" />
          </div>

          <div class="card">
            <div class="card-body">
          
              <!-- Heading -->
              <h1 class="display-4 text-center mb-3">
                Sign up
              </h1>
              
              <!-- Subheading -->
              <p class="text-muted text-center mb-5">
                Free access to our dashboard.
              </p>

              <div class="signup alert alert-danger alert-dismissible fade show d-none" role="alert">
                <div class="message"></div>
                <button type="button" class="close" onclick="document.querySelector('.signup.alert').classList.add('d-none')" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>

              <!-- Form -->
              <form id='signup-form'>

                <!-- First Name -->
                <div class="form-group">

                  <!-- Label -->
                  <label>
                    First Name
                  </label>

                  <!-- Input -->
                  <input type="text" id="first_name" class="form-control" placeholder="John" required>

                </div>
                
                <!-- Email address -->
                <div class="form-group">

                  <!-- Label -->
                  <label>
                    Email Address
                  </label>

                  <!-- Input -->
                  <input type="email" id="email" class="form-control" placeholder="name@address.com" required>

                </div>

                <!-- Password -->
                <div class="form-group">

                  <!-- Label -->
                  <label>
                    Password
                  </label>

                  <!-- Input group -->
                  <div class="input-group input-group-merge">

                    <!-- Input -->
                    <input type="password" id="password" class="form-control form-control-appended" placeholder="Enter your password" required>

                    <!-- Icon -->
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fe fe-eye"></i>
                      </span>
                    </div>

                  </div>
                </div>

                <!-- Submit -->
                <button class="btn btn-lg btn-block btn-primary mb-3">
                  <span class="spinner-border spinner-border-sm loading d-none" role="status" aria-hidden="true"></span> Sign up 
                </button>

                <!-- Link -->
                <div class="text-center">
                  <small class="text-muted text-center">
                    Already have an account? <a href="/signin">Log in</a>.
                  </small>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->

    <!-- JAVASCRIPT
    ================================================== -->
    <% include ../partials/scripts %>

  </body>
</html>