<input type="hidden" id="hidden_documents" value="<%=JSON.stringify(documents)%>">

<!-- CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-12">
      
      <!-- Files -->
      <div class="card" data-toggle="lists" data-options='{"valueNames": ["name"]}'>
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              
              <!-- Title -->
              <h4 class="card-header-title mb-2 document-header">
                Files
              </h4>

            </div>
            
            <div class="col-auto">
              <button class="btn btn-white dropdown-toggle documentCategoryBtn" type="button" id="dropdownMenuButtonAlias" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Categories
              </button>

              <ul class="dropdown-menu document-categories" aria-labelledby="dropdownMenuButtonAlias">
                <li>
                  <a class="dropdown-item" href="#!" data-value="All Categories">All Categories</a>
                </li>
                <li class="dropright dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle subhover" tabindex="-1" href="#" id="keyDocuments" role="button" aria-haspopup="true" aria-expanded="false">
                    Key Documents
                  </a>
                  <div class="dropdown-menu keyDocuments" aria-labelledby="keyDocuments">
                    <a class="dropdown-item " href="#" data-value="Key Documents - EPC">
                      EPC
                    </a>
                    <a class="dropdown-item " href="#" data-value="Key Documents - Gas Safety Record">
                      Gas Safety Record
                    </a>
                    <a class="dropdown-item " href="#" data-value="Key Documents - Fire Safety Record">
                      Fire Safety Record
                    </a>
                    <a class="dropdown-item " href="#" data-value="Key Documents - Floorplan">
                      Floorplan 
                    </a>
                    <a class="dropdown-item " href="#" data-value="Key Documents - EICR">
                      EICR 
                    </a>
                  </div>
                </li>
                <li>
                  <a class="dropdown-item" href="#!" data-value="Ownership">Ownership</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#!" data-value="Mortgage & Financing">Mortgage & Financing</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#!" data-value="Other Financial">Other Financial</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#!" data-value="Uncategorised">Uncategorised</a>
                </li>
              </ul>
            </div>

            <div class="col-sm-12 col-md-3 filter-by-property d-none">
              <select class="custom-select" style="min-width: 350px;" id="filterByProperty" data-toggle="select"  data-options='{"placeholder": "All Properties", "width": "element"}' required>
                  <option></option>
              </select>  
            </div>

            <div class="col-auto doc-upload-btn-wrapper">
              <a href="#" class="btn lift btn-primary modal-upload">
                Upload
              </a>
            </div>
          </div> <!-- / .row -->
        </div>
        <div class="card-body">

          <!-- List -->
          <ul class="list-group list-group-lg list-group-flush list my-n4 documentList">
           
          </ul>
          
        </div>
      </div>

      <ul id="documentPagination" class="pagination-md mt-5 justify-content-end"></ul>
    </div>
  </div> <!-- / .row -->
</div>

