<input type="hidden" id="hidden_documents" value="<%=JSON.stringify(documents)%>">

<!-- CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-12">
      
      <!-- Files -->
      <div class="card" data-toggle="lists" data-options='{"valueNames": ["name"]}'>
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              
              <!-- Title -->
              <h4 class="card-header-title mb-2">
                Files
              </h4>

            </div>
            <div class="col-sm-12 col-md-4 filter-by-property">
              
                <select class="form-control" style="min-width: 250px;" id="filterByProperty" data-toggle="select"  data-options='{"placeholder": "All Properties", "width": "element"}' required>
                    <option></option>
                </select>  
            </div>

            <div class="col-12 col-md-4">
              <select class="form-control" style="min-width: 350px;" id="filterByCategory" data-toggle="select"  data-options='{"placeholder": "All Categories", "width": "element"}' required>
                  <option></option>
                  <option value="All">All Categories</option>
                  <option value="Tenancy Documents">Tenancy Documents</option>
                  <option value="Certificates ">Certificates</option>
                  <option value="Title Deeds">Title Deeds</option>
                  <option value="Insurance">Insurance</option>
                  <option value="Mortgage & Financing">Mortgage & Financing</option>
                  <option value="Taxes">Taxes</option>
                  <option value="Plans">Plans</option>
                  <option value="Uncategorised">Uncategorised</option>
              </select> 
            </div>
            <div class="col-auto doc-upload-btn-wrapper">
                <a href="#" class="btn lift btn-primary modal-upload">
                  Upload
                </a>
            </div>
          </div> <!-- / .row -->
        </div>
        <div class="card-header">
          <div class="row">
            <div class="col-12">
              
              <!-- Form -->
              <form>
                <div class="input-group input-group-flush input-group-merge">
                  <input type="search" class="form-control form-control-prepended search" placeholder="Search">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <span class="fe fe-search"></span>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div> <!-- / .row -->
        </div>
        <div class="card-body">

          <!-- List -->
          <ul class="list-group list-group-lg list-group-flush list my-n4 documentList">
            <% if(!documents.length) { %>
              <p class="text-center p-3">There is no any documents yet.</p>
            <% } %>
          </ul>
          
        </div>
      </div>

      <ul id="documentPagination" class="pagination-md mt-5"></ul>
    </div>
  </div> <!-- / .row -->
</div>
