<!doctype html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body>

    <% include ../partials/topnav %>
    
    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

      <input type="hidden" id="hidden_properties" value="<%= JSON.stringify(properties) %>">
      <% include ../partials/modals %>

      <% include ./_document_header %>
      <% include ./_documents %>
    </div>
    <!-- JAVASCRIPT
    ================================================== -->
    <% include ../partials/scripts %>

    <script type="text/javascript">
      let documents = $('#hidden_documents').val();
      let properties = $('#hidden_properties').val();
      try {
        properties = JSON.parse(properties);
      } catch(e) { properties = [];}
      let items = []
      try {
        documents = JSON.parse(documents);
        items = documents;
      } catch(e) {}

      $(function(){
        doPopulate();

        doPaginate();

        $('.filter-by-property').removeClass('d-none');
        var option = new Option('All Properties', 'all', true, true);
        $('#filterByProperty').append(option);
        properties.map(property => {
          var property_name = property.address + ', ' + property.city;
          option = new Option(property_name, property.id, true, true);
          $('#filterByProperty').append(option);
        });
        $('#filterByProperty').val('all').trigger('change');

        if (document.querySelector('.dropzone')) {
          Dropzone_init( document.querySelector('.dropzone'));
        }

      });
    </script>

  </body>
</html>