<!doctype html>
<html lang="en">
  <head>
      <% include ../partials/head %>
      <style>
        .doc-upload-btn-wrapper {
          display: none;
        }
      </style>
  </head>
  <body>

    <% include ../partials/topnav %>
    
    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

      <!-- <input type="hidden" id="hidden_properties" value="<%= JSON.stringify(properties) %>"> -->
      <% include ../partials/modals %>

      <% include ./_document_header %>
      <% include ./_documents %>
    </div>
    <!-- JAVASCRIPT
    ================================================== -->
    <% include ../partials/scripts %>

    <script type="text/javascript">
      documents = $('#hidden_documents').val();
      items = []
      try {
        documents = JSON.parse(documents);
        items = documents;
      } catch(e) {}

      $(async function(){
        doPopulate();

        doPaginate();

        const doc_property = localStorage.getItem('doc_property');
        const doc_category = localStorage.getItem('doc_category');


        $('.filter-by-property').removeClass('d-none');
        var option = new Option('All Properties', 'all', true, true);
        $('#filterByProperty').append(option);
        await populatePropertyDropdown ()
        if (doc_property && doc_category) {
          $('#filterByProperty').val(doc_property).trigger('change');
          $('.document-categories a').map( (x, el) => {
            if ($(el).data('value') == doc_category) {
              $(el).click()
            }
          })
          localStorage.setItem('doc_category', '');
          localStorage.setItem('doc_property', '');
        } else {
          $('#filterByProperty').val('all').trigger('change');
        }
      });
    </script>

  </body>
</html>