<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>

    </head>
    <body>
    <% include ../partials/topnav %>

      <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">
    
        <!-- HEADER -->
        <div class="header">
            
            <div class="container">
    
            <!-- Body -->
            <div class="header-body">
              <div class="row align-items-center">
                <div class="col">
                  <h1 class="header-title">
                    Properties
                  </h1>
                </div>
                <a href="/property/new" class="btn btn-primary d-block d-md-inline-block lift">
                  Add a property
                </a>
              </div>
            </div> 
            </div>
        </div>
    
        <!-- CONTENT -->
        
        <div class="container">
          <input type="hidden" name="_csrf" value="<%= token %>">
          <div class="row align-items-center" style="margin-bottom: 2rem;">
            <div class="col">
              <div class="input-group input-group-merge">
                <input type="text" class="form-control form-control-prepended property-search" placeholder="Search">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="fe fe-search"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <button class="btn border bg-white" id="topnavDocumentation" data-toggle="dropdown" aria-haspopup="true" >
                <span class="fe fe-settings"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="topnavDocumentation">
                <li class="dropright">
                  <a class="dropdown-item dropdown-toggle " href="#" id="changeMetric" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Change metric
                  </a>
                  <div class="dropdown-menu changeMetric" aria-labelledby="changeMetric">
                    <a class="dropdown-item " href="#">
                      Gross Yield
                    </a>
                    <a class="dropdown-item " href="#">
                      Net Yield
                    </a>
                    <a class="dropdown-item " href="#">
                      Income
                    </a>
                    <a class="dropdown-item " href="#">
                      OER 
                    </a>
                  </div>
                </li>
                <div class="dropdown-divider"></div>
                <li class="dropright">
                  <a class="dropdown-item dropdown-toggle " href="#" id="timePeriod" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Change time periods
                  </a>
                  <div class="dropdown-menu timePeriod" aria-labelledby="timePeriod">
                    <a class="dropdown-item " href="#">
                      YTD
                    </a>
                    
                    <a class="dropdown-item " href="#">
                      Last Full Year
                    </a>
                    <a class="dropdown-item " href="#">
                      All Time
                    </a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-auto dropdown">
              <button class="btn btn-white dropdown-toggle btn-property-order" data-toggle="dropdown"  type="button" aria-haspopup="true" aria-expanded="false">
                Sort: <span class="sort-type font-weight-bold">Highest Value</span>
              </button>
              <div class="dropdown-menu property-order-menu">
                <a class="dropdown-item" href="#" >Highest Value</a>
                <a class="dropdown-item" href="#">Lowest Value</a>
                <a class="dropdown-item" href="#">Highest Yield %</a>
                <a class="dropdown-item" href="#">Lowest Yield %</a>
              </div>
            </div>
          </div>
  
          <!-- Tab content -->
          <div class="row listAlias property-list">
            
          </div> <!-- / .row -->
        </div>
      
    <!-- JAVASCRIPT  ================================================== -->
    <% include ../partials/scripts %>

    <script type="text/javascript">
      let properties = [];
      let oldProperties = [];
      let period = localStorage.getItem('period') || 'All Time'; // all, Last Full Year, YTD
      let metric = localStorage.getItem('metric') || 'Rental Yield';
      let sort = 'Highest Value';

      const listProperties = (search='') => {
        // start and end date for period option
        let startDate = '1900-01-01';
        let endDate = '9999-01-01';
        const thisYear = moment().format('YYYY');
        switch (period) {
          case 'All Time':
            startDate = '1900-01-01';
            endDate = '9999-01-01';
            break;
          case 'YTD':
            startDate = thisYear + '-01-01'
            endDate = moment().format('YYYY-MM-DD');
            break;
          case 'Last Full Year':
            startDate = moment(thisYear + '-01-01').subtract(1, 'year').format('YYYY-MM-DD');
            endDate = moment(thisYear + '-01-01').subtract(1, 'day').format('YYYY-MM-DD');
            break;
        }

        $('.property-list').empty();
        properties = oldProperties.filter(property => moment(property.created_at).isBetween(startDate, endDate))
        properties = properties.filter(property => property.city.toLowerCase().includes(search) || property.address.toLowerCase().includes(search))
        if (sort == 'Lowest Value') {
          properties.sort(function(a,b) {return (a.current_value > b.current_value) ? 1 : ((b.current_value > a.current_value) ? -1 : 0);} );
        } else if (sort == 'Highest Value') {
          properties.sort(function(a,b) {return (a.current_value < b.current_value) ? 1 : ((b.current_value < a.current_value) ? -1 : 0);} );
        } else if (sort == 'Lowest Yield %') {
          properties.sort(function(a,b) {return (a.rental_yield > b.rental_yield) ? 1 : ((b.rental_yield > a.rental_yield) ? -1 : 0);} );
        } else if (sort == 'Highest Yield %') {
          properties.sort(function(a,b) {return (a.rental_yield < b.rental_yield) ? 1 : ((b.rental_yield < a.rental_yield) ? -1 : 0);} );
        } 
        properties.map( (property, i) => {
          let status = ''
          let badge = '';
          let image = property.image ? '/' + property.image : '';
          if (property.status) { 
            if (property.units == 1) {
              badge = property.status == 'Vacant' ? 'danger' : '';
              status = `<h2><span class="badge badge-soft-${badge} ml-1 mt-n1 text-capitalize">${property.status}</span><h2>`;
              if (!image) {
                image = '/img/avatars/projects/single.png';
              }
            } else {
              let cnt_vacant = 0;
              property.tenancies.forEach(unit => {
                if (unit.rent_frequency == 'Vacant') {
                  cnt_vacant++;
                }
              });
              badge = cnt_vacant > 0 ? 'danger' : '';
              status = `<h2><span class="badge badge-soft-${badge} ml-1 mt-n1 text-capitalize">${cnt_vacant} Vacant Units</span><h2>`;
              if (!image) {
                image = '/img/avatars/projects/multiple.png';
              }
            }
          }
          
          const current_value = property.current_value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
          const rental_yield = property.rental_yield.toFixed(2).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + '%';
          let right_label = 'Gross Yield';
          let right_value = rental_yield.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');

          // Allow changin time periosds dropdown menu
          $('#timePeriod').removeClass('disabled');
          // change metric
          switch (metric) {
            case 'Gross Yield':
              right_label = 'Gross Yield';
              right_value = rental_yield.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
              // Disable changing time periods dropdown menu
              $('#timePeriod').addClass('disabled');
              break;
            case 'Net Yield':
              right_label = 'Net Yield';
              right_value = property.net_yield + '%';
              break;
            case 'Income':
              right_label = 'Income';
              right_value = '£' + property.total_income.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
              break;
            case 'OER':
              right_label = 'OER';
              right_value = property.operating_expense_ratio + '%';
          }

          $('.property-list').append(`<div class="col-12 col-md-6 col-xl-4 property-block">
              <div class="card p-relative">
                <div class="row align-items-center badge-group">
                  <div class="col">
                    <div class="row align-items-center no-gutters">
                        <div class="col-auto">
                          ${ badge ? status : ''}
                        </div>
                    </div>
                  </div>
                </div>
                  <a href="/property/overview/${property.id}/overview">
                    <img src="${image}" alt="Property cover image" class="card-img-top cover-image">
                  </a>
                  <div class="card-body">
                  <div class="row align-items-center">
                      <div class="col">
                      <h3 class="card-title mb-2 name">
                          <a href="/property/overview/${property.id}">
                            <div class="text-ellipsis">
                              ${property.address}, ${property.city}
                            </div>
                          </a>
                      </h3>

                      <!-- Subtitle -->
                      <p class="card-text medium text-muted text-capitalize">
                          ${property.type}
                      </p>

                      </div>
                      <div class="col-auto">
                      
                      <!-- Dropdown -->
                      <div class="dropdown">
                        <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="/property/overview/${property.id}" class="dropdown-item">
                            Edit
                          </a>
                          <a href="#" class="dropdown-item delete-property" data-id="${property.id}">
                            Remove
                          </a>
                        </div>
                      </div>

                      </div>
                  </div> <!-- / .row -->

                  <!-- Divider -->
                  <hr>

                  <div class="row align-items-center">
                    <div class="col">
                      <div class="row align-items-center no-gutters">
                        <div class="col-6 text-center border-right">
                          <h6 class="card-title text-uppercase text-muted mb-2">
                              Property Value
                          </h6>
                  
                          <span class="h2 mb-0">
                              £${current_value}
                          </span>
                        
                        </div>
                        <div class="col-6 text-center">
                          <h6 class="card-title text-uppercase text-muted mb-2">
                              ${right_label} 
                          </h6>
                  
                          <span class="h2 mb-0">
                            ${right_value}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div> 
              </div>
            </div>
          `)
        })

        // display empty
        if (properties.length == 0) {
          $('.property-list').append(`
            <div class="text-uppercase text-center w-100">There is no property</div>
          `)
        }
      }
      $(function(){
        // display properties
        fetch('/property/all', {method: 'GET'})
          .then(res => res.json())
          .then(res => {
            properties = res.properties;
            oldProperties = res.properties;
            listProperties()
          })
          .catch(err => {
              console.log(err);
          })
          .finally({

          })

        // search properties
        $('.property-search').keyup(function(event) {
          listProperties($(this).val().toLowerCase());
        });

        // sort button

        $('.property-order-menu .dropdown-item').click(function(e){
          e.preventDefault()
          $('.btn-property-order .sort-type').html($(this).text())
          $('.property-order-menu').toggleClass('show')
          sort = $(this).text().trim()
          listProperties()
        })

        // Change time period option
        $(document).on('click', '.timePeriod a', function(e){
          e.preventDefault();
          period = $(this).text().trim()
          localStorage.setItem('period', period)
          listProperties()
        })

        // Change metric option
        $(document).on('click', '.changeMetric a', function(e){
          e.preventDefault();
          metric = $(this).text().trim()
          localStorage.setItem('metric', metric)
          listProperties()
        })
      });
    </script>
    </body>
</html>