<!doctype html>
<html lang="en">
  <head>
    <head>
        <% include ../partials/head %>
    </head>
  <body>

    <% include ../partials/modals %>

    <% include ../partials/topnav %>
  
    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">
      <!-- HEADER -->
      <div class="header">
        <div class="container">
          
          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar avatar-lg avatar-4by3">
                  <img src="/img/avatars/projects/project-1.jpg" alt="..." class="avatar-img rounded">
                </div>

              </div>
              <div class="col ml-n3 ml-md-n2">
                
                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Property
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  29 Tythe Barn Lane
                </h1>

              </div>

            </div> <!-- / .row -->
			
			<h2>
			<span class="badge badge-soft-primary ml-1 mt-n1">Freehold</span>
			<span class="badge badge-soft-primary ml-1 mt-n1">Occupied</span>
			<span class="badge badge-soft-primary ml-1 mt-n1">Single Unit</span>
			</h2>
			
          </div>

        </div>
      </div> <!-- / .header -->

      <!-- CONTENT -->
      <div class="container">
        <div class="row">
          <div class="col-12">
        
        <div class="row">
			
            <div class="col-12 col-xl-8">
            
              <!-- Card -->
              <div class="card">
				  
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h4 class="card-header-title">
                        Summary
                      </h4>

                    </div>
					
                    <div class="col-auto">

                      <!-- Button -->
                      <a href="#!" class="btn btn-sm btn-white">
                        Adjust
                      </a>
                  
                    </div>
                   
                  </div> <!-- / .row -->
                </div>
				
                <div class="card-body">
					
                  <!-- Title -->
                  <h6 class="card-title text-uppercase text-muted mb-2">
                    Est Market Value
                  </h6>
                  
                  <!-- Heading -->
                  <span class="h2 mb-0">
                    £524,500
                  </span>
				  
                  <!-- Badge -->
                  <span class="badge badge-soft-success mt-n1">
                    +£24,500
                  </span>
				  
                  <!-- Title -->
                  <h6 class="card-title text-uppercase text-muted mb-2">
                    Annualised Income
                  </h6>
                  
                  <!-- Heading -->
                  <span class="h2 mb-0">
                    £20,000
                  </span>
				  
                  <!-- Title -->
                  <h6 class="card-title text-uppercase text-muted mb-2">
                    Yield
                  </h6>
                  
                  <!-- Heading -->
                  <span class="h2 mb-0">
                    3.8%
                  </span>
                
              </div> 
		  </div>
			  
              <!-- Card -->
              <div class="card">
				  
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h4 class="card-header-title">
                        Tenancies
                      </h4>

                    </div>
					
                    <div class="col-auto">

                      <!-- Button -->
                      <a href="#!" class="btn btn-sm btn-white">
                        Add Tenancy
                      </a>
                  
                    </div>
                   
                  </div> <!-- / .row -->
                </div>
				
                <div class="card-body">

                  <!-- Text -->
                  <p class="mb-3">
                    Unit name
                  </p>
				  
                  <p class="mb-3">
                    Income (Weekly, Fortnightly, Monthly, or Annual)
                  </p>
				 

                  <!-- Divider -->
                  <hr>
				  
                  <p class="mb-3">
                    No active tenancies
                  </p>

 
                </div>
              </div>
			  
            </div>
			
			
            <div class="col-12 col-xl-4">
            
              <!-- Card -->
              <div class="card">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col">

                        <!-- Title -->
                        <h4 class="card-header-title">
                          Property Details
                        </h4>

                      </div>
                      <div class="col-auto">

                        <!-- Button -->
                        <a href="#!" class="btn btn-sm btn-white">
                          Edit
                        </a>
                    
                      </div>
                    </div> <!-- / .row -->
                  </div>
				  
                <div class="card-body">

                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Acquired on
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <time class="small text-muted" datetime="1988-24-10">
                        24/10/88
                      </time>

                    </div>
                  </div> <!-- / .row -->

                  <!-- Divider -->
                  <hr>

                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Property Type
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <small class="small text-muted"> 
                        House
                      </small>

                    </div>
                  </div> <!-- / .row -->

                  <!-- Divider -->
                  <hr>

                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Construction date
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <small class="text-muted">
                        Pre-1914
                      </small>

                    </div>
                  </div> <!-- / .row -->

                  <!-- Divider -->
                  <hr>

                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Square feet (internal)
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <small class="text-muted">
                        250
                      </small>

                    </div>
                  </div> <!-- / .row -->
				  
                  <hr>

                  <div class="row align-items-center">
                    <div class="col">
                    
                      <!-- Title -->
                      <h5 class="mb-0">
                        Units
                      </h5>

                    </div>
                    <div class="col-auto">
                    
                      <small class="text-muted">
                        Single Unit
                      </small>

                    </div>
                  </div> <!-- / .row -->

                </div>
              </div>

              <!-- Weekly Hours -->
              <div class="card">
                <div class="card-header">
                
                  <!-- Title -->
                  <h4 class="card-header-title">
                    Location
                  </h4>

                </div>
                <div class="card-body">
                
  				<div class="embed-responsive embed-responsive-21by9 rounded">
  				  <div class="embed-responsive-item" data-toggle="map" data-options='{"center": [-118.244615, 34.052979], "zoom": 12}'></div>
  				</div>

                </div>
              </div>

            </div>
		
		
        
              </div>
              
            </div>

          </div>
          
        </div> <!-- / .row -->
		
		
		
		
      </div>
      
    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    <% include ../partials/scripts %>

  </body>
</html>