<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>

    </head>
    <body>
    <% include ../partials/topnav %>

      <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">
    
        <!-- HEADER -->
        <div class="header">
            
            <div class="container">
    
            <!-- Body -->
            <div class="header-body">
                <div class="row align-items-center">
                <div class="col">
            
                    <!-- Title -->
                  <h1 class="header-title">
                    Properties
                  </h1>

                </div>
                
                <!-- Button -->
                <a href="/property/new" class="btn btn-primary d-block d-md-inline-block lift">
                    Add a property
                </a>
                
                </div>
            </div> <!-- / .header-body -->
    
            </div>
        </div>
    
        <!-- CONTENT -->
        
        <div class="container">
          <input type="hidden" name="_csrf" value="<%= token %>">
          <div class="row align-items-center" style="margin-bottom: 2rem;">
            <div class="col-12">
              <div class="input-group input-group-merge">
                <input type="text" class="form-control form-control-prepended property-search" placeholder="Search">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="fe fe-search"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Tab content -->
          <div class="row listAlias property-list">
            
          </div> <!-- / .row -->
        </div>
      
       <!-- JAVASCRIPT
  ================================================== -->
    <% include ../partials/scripts %>

    <script type="text/javascript">
      let properties = [];
      const isPropertyFiltered = (property, search) => {
        if (property.city.toLowerCase().includes(search) || property.address.toLowerCase().includes(search)) {
          return true;
        } else {
          return false;
        }
      };

      const listProperties = (search='') => {
        $('.property-list').empty();
        properties.map( (property, i) => {
          if (isPropertyFiltered(property, search)) {
            let status = ''
            let badge = '';
            let image = property.image ? '/' + property.image : '';
            if (property.status) { 
              if (property.units == 1) {
                badge = property.status == 'Vacant' ? 'danger' : '';
                status = `<h2><span class="badge badge-soft-${badge} ml-1 mt-n1 text-capitalize">${property.status}</span><h2>`;
                if (!image) {
                  image = '/img/avatars/projects/single.png';
                }
              } else {
                let cnt_vacant = 0;
                property.tenancies.forEach(unit => {
                  if (unit.rent_frequency == 'Vacant') {
                    cnt_vacant++;
                  }
                });
                badge = cnt_vacant > 0 ? 'danger' : '';
                status = `<h2><span class="badge badge-soft-${badge} ml-1 mt-n1 text-capitalize">${cnt_vacant} Vacant Units</span><h2>`;
                if (!image) {
                  image = '/img/avatars/projects/multiple.png';
                }
              }
            }
            
            const current_value = property.current_value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
            const rental_field = property.rental_yield.toFixed(2).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
            $('.property-list').append(`<div class="col-12 col-md-6 col-xl-4 property-block">
                <div class="card p-relative">
                  <div class="row align-items-center badge-group">
                    <div class="col">
                      <div class="row align-items-center no-gutters">
                          <div class="col-auto">
                            ${ badge ? status : ''}
                          </div>
                      </div>
                    </div>
                  </div>
                    <a href="/property/overview/${property.id}/overview">
                      <img src="${image}" alt="Property cover image" class="card-img-top cover-image">
                    </a>
                    <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                        <h3 class="card-title mb-2 name">
                            <a href="/property/overview/${property.id}">
                              <div class="text-ellipsis">
                                ${property.address}, ${property.city}
                              </div>
                            </a>
                        </h3>

                        <!-- Subtitle -->
                        <p class="card-text medium text-muted text-capitalize">
                            ${property.type}
                        </p>

                        </div>
                        <div class="col-auto">
                        
                        <!-- Dropdown -->
                        <div class="dropdown">
                          <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="/property/overview/${property.id}" class="dropdown-item">
                              Edit
                            </a>
                            <a href="#" class="dropdown-item delete-property" data-id="${property.id}">
                              Remove
                            </a>
                          </div>
                        </div>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                      <div class="col">
                        <div class="row align-items-center no-gutters">
                          <div class="col-6 text-center border-right">
                            <h6 class="card-title text-uppercase text-muted mb-2">
                                Property Value
                            </h6>
                    
                            <span class="h2 mb-0">
                                £${current_value}
                            </span>
                          
                          </div>
                          <div class="col-6 text-center">
                            <h6 class="card-title text-uppercase text-muted mb-2">
                                Rental Yield
                            </h6>
                    
                            <span class="h2 mb-0">
                              ${rental_field}%
                            </span>
                          </div>
                        </div>
                      </div>
                    </div> 
                  </div> 
                </div>
              </div>
            `)
          }
        })
      }
      $(function(){
        fetch('/property/all', {method: 'GET'})
          .then(res => res.json())
          .then(res => {
            properties = res.properties;
            listProperties()
          })
          .catch(err => {
              console.log(err);
          })
          .finally({

          })

        $('.property-search').keyup(function(event) {
          listProperties($(this).val().toLowerCase());
        });
      });
    </script>
    </body>
</html>