<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
    <% include ../partials/topnav %>

    <div class="main-content">
  
      <div class="container">
        <div class="header">
          <div class="container">
  
            <!-- Body -->
            <div class="header-body">
              <div class="row align-items-end">
                <div class="col">
  
                  <!-- Title -->
                  <h1 class="header-title">
                    Create A New Property 
                  </h1>
  
                </div>
                <div class="col-auto">
                  
                  <!-- Button -->
                  <a href="/" class="btn btn-outline-primary mb-2">
                    Cancel
                  </a>

                </div>
              </div> <!-- / .row -->
            </div> <!-- / .header-body -->
  
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 mb-4">
            <div class="col-10  justify-content-center">
              <div class="dropzone dropzone-multiple">
                <div class="fallback">
                  <input type="file" class="custom-file-input" id="customFileUploadMultiple">
                </div>

                <div class="dz-message" data-dz-message>
                  <img src="/img/avatars/projects/single.png" alt="property image" class="card-img-top cover-image dropzone-image mb-4">
                  <div class="big-title h3">Upload a Cover Image</div>
                  <div class="small-title text-muted mx-3">Max file size is 30MB per image, JPG, PNG, or GIF formats only.</div>
                </div>

                <ul class="dz-preview d-none dz-preview-multiple list-group list-group-lg list-group-flush">
                  <li class="list-group-item px-0">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <div class="avatar">
                          <img class="avatar-img rounded" src="..." alt="..." data-dz-thumbnail>
                        </div>
                      </div>
                      <div class="col ml-n3">
                        <h4 class="mb-1" data-dz-name>...</h4>
                        <p class="small text-muted mb-0" data-dz-size>...</p>
                      </div>
                      <div class="col-auto">
                        
                        <div class="dropdown">
                          <a href="#" class="dropdown-item" title="Remove file" data-dz-remove>
                            <i class="fe fe-trash"></i>
                          </a>
                        </div>

                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="card bg-light cursor-hand property-unit active" data-name="1">
                  <div class="text-center">
                    <h1 class="mb-2"><img src="/img/icons/single.svg" style="width: auto; height: 35px;" alt="single unit"> <i class="fe fe-check-circle text-success float-right"></i></h1>
                    <h3 class="mb-3">
                      Single Unit
                    </h3>
  
                    <!-- <p class="small text-muted mb-0">
                      A single-unit property is property that is or would be rented as a single entity.
                    </p> -->
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">

                <!-- Warning -->
                <div class="card bg-light cursor-hand property-unit multi-unit" data-name="2">
                  <div class="text-center">
                    <h1 class="mb-2"><img src="/img/icons/multiple.svg" style="width: auto; height: 35px;" alt="single unit"> <i class="fe fe-check-circle text-success float-right"></i></h1>
                    <h3 class="mb-2">
                        Multi Unit (e.g HMO)
                    </h3>

                    <!-- <p class="small text-muted mb-0">
                      A multi-unit property is a property that has been divided into multiple units that are rented independently to different tenants.
                    </p> -->

                  </div>
                </div>
                
              </div>
            </div> <!-- / .row -->

            <!-- Form -->
            <form class="mb-4" id="create-property-form" method="post" action="/property/create/">
              <input type="hidden" name="_csrf" value="<%= token %>">
              <input type="hidden" id="property_fulladdress" name="property[fulladdress]" value="">
              <input type="hidden" id="property_region" name="property[region]" value="">
              <input type="hidden" id="status" name="document[status]" value="upload">
              <input type="hidden" id="document_id" name="document[id]" value="">
              <input type="hidden" id="document_size" name="document[size]" value="">
              <input type="hidden" id="document_mimetype" name="document[mimetype]" value="">
              <input type="hidden" id="document_filename" name="document[filename]" value="">
              <input type="hidden" id="document_path" name="document[path]" value="">
              <!-- Project name -->
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>
                      Property Type
                    </label>
                    <select class="form-control" name="property[type]" data-toggle="select" data-options='{"placeholder": "Select a property type"}' required>
                      <option></option>
                      <option value="detached_house">Detached House</option>
                      <option value="semi-detached_house">Semi Detached House</option>
                      <option value="terraced_house">Terraced House</option>
                      <option value="flat">Flat</option>
                    </select>
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      No. of Units
                    </label>
                    <input type="number" id="property_units" min="1" max="50" class="form-control"  name="property[units]" value="1" readonly>
                  </div>

                </div>
              </div>

              <!-- Divider -->
              <hr>

              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Street Address
                    </label>
                    <input id="propertyAutocomplete" type="text" class="form-control" name="property[address]" placeholder="Enter an address" value="" required>
                  </div>

                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Address 2
                    </label>
                    <input type="text" class="form-control"  name="property[address2]">
                  </div>

                </div>
              </div> <!-- / .row -->
        
              <div class="row">
                <div class="col-12 col-md-4">
                  
                  <!-- City -->
                  <div class="form-group">
                    <label>
                      City
                    </label>
                    <input type="text" id="property_city" class="form-control"  name="property[city]" value=" " required>
                  </div>

                </div>

                <div class="col-12 col-md-4">
                  
                    <!-- County -->
                    <div class="form-group">
                      <label>
                        County
                      </label>
                      <input type="text" id="property_county" class="form-control"  name="property[county]" value=" " required>
                    </div>
  
                  </div>
              
                <div class="col-12 col-md-4">
                  
                  <!-- Pos Code -->
                  <div class="form-group">
                    <label>
                      Post code
                    </label>
                    <input type="text" id="property_zip" class="form-control" name="property[zip]" value=" " required>
                  </div>

                </div>
              </div> <!-- / .row -->

              <!-- Divider -->
              <hr class="mt-5 mb-5">

              <!-- Buttons -->
              <button type="submit" class="btn btn-block btn-primary" id="createPropertyBtn">
                Create property
              </button>

            </form>
          </div>
        </div> <!-- / .row -->
      </div> 
    </div>

    <!-- JAVASCRIPT
  ================================================== -->
    <% include ../partials/scripts %>

    </body>
</html>