<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>

        <style>
            /* .property-label.collapse.in {
                display: block;
            } */
            a.show-form {
                float: right;
            }
            .input-group {
                position: relative;
                display: table;
                border-collapse: separate;
            }
        </style>
    </head>
    <body>
    <% include ../partials/topnav %>

    <div class="main-content">
         <!-- HEADER -->
         <div class="header">
                <div class="container">
        
                  <!-- Body -->
                  <div class="header-body">
                    <div class="row align-items-end">
                      <div class="col">
        
                        <!-- Title -->
                        <h1 class="header-title">
                          Property Review
                        </h1>
        
                      </div>
                    </div> <!-- / .row -->
                  </div> <!-- / .header-body -->
        
                </div>
              </div> <!-- / .header -->
              

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-xl-8">
                            <!-- Card -->
                            <div class="card">
                                <div class="card-body">

                                    <h1 class="header-title mb-2">
                                        3434 S Grand Ave, Los Angeles, CA
                                    </h1>
                                    <h3>Please review and correct any information if needed.</h3>
                                    <form id="onboardingForm" class="edit_property" action="/property/add" accept-charset="UTF-8" method="post" novalidate="novalidate"><input name="utf8" type="hidden" value="✓">
                                        <input type="hidden" name="_csrf" value="<%= token %>">
                                        <input type="hidden" name="property[portfolio_id]" id="property_portfolio_id">
                                        <div id="editPropertyRows" class="row">
                                          <div class="col-sm-12">
                                            <div class="row">
                                              <div class="col-sm-12 form-horizontal-compact">
                                                <div class="form-group row">
                                                    <label class="col-sm-6 control-label" for="property_num_units">Number of Units</label>
                                                    <div class="col-sm-6 input-group">
                                                        <div class="property-label collapse show in" aria-expanded="true" style="">
                                                        <span class="input-value"></span>
                                                        <a href="#num_unitsForm" class="show-form collapsed" data-toggle="collapse" aria-expanded="false">
                                                            <i class="fe fe-edit pull-right"></i>
                                                        </a>
                                                        </div>
                                                        <div id="num_unitsForm" class="collapse" aria-expanded="false" style="height: 0px;">
                                                        <input min="1" step="1" class="form-control valid" type="number" value="" placeholder="1" name="property[num_units]" id="property_num_units" aria-invalid="false">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-6 control-label" for="property_year_built">Year built</label>
                                                    <div class="col-sm-6 input-group">
                                                        <div class="collapse show in property-label">
                                                        <span class="input-value"></span>
                                                        <a href="#year_builtForm" class="show-form" data-toggle="collapse">
                                                            <i class="fe fe-edit pull-right"></i>
                                                        </a>
                                                        </div>
                                                        <div id="year_builtForm" class="collapse">
                                                        <input min="1776" step="1" class="form-control" type="number" value="" placeholder="1968" name="property[year_built]" id="property_year_built">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-6 control-label" for="property_neighborhood">Neighborhood</label>
                                                    <div class="col-sm-6 input-group">
                                                        <div class="collapse show in property-label">
                                                        <span class="input-value"></span>
                                                        <a href="#neighborhoodForm" class="show-form" data-toggle="collapse">
                                                            <i class="fe fe-edit pull-right"></i>
                                                        </a>
                                                        </div>
                                                        <div id="neighborhoodForm" class="collapse">
                                                        <input class="form-control" type="text" value="" placeholder="Echo Park" name="property[neighborhood]" id="property_neighborhood">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-6 control-label" for="property_finished_square_feet">Square Feet</label>
                                                    <div class="col-sm-6 input-group">
                                                        <div class="collapse show in property-label">
                                                        <span class="input-value"></span>
                                                        <a href="#finished_square_feetForm" class="show-form" data-toggle="collapse">
                                                            <i class="fe fe-edit pull-right"></i>
                                                        </a>
                                                        </div>
                                                        <div id="finished_square_feetForm" class="collapse">
                                                        <input min="0" step="1" class="form-control" type="number" value="" placeholder="66697" name="property[finished_square_feet]" id="property_finished_square_feet">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-6 control-label" for="property_lot_size_square_feet">Lot Size</label>
                                                    <div class="col-sm-6 input-group">
                                                        <div class="collapse show in property-label">
                                                        <span class="input-value"></span>
                                                        <a href="#lot_size_square_feetForm" class="show-form" data-toggle="collapse">
                                                            <i class="fe fe-edit pull-right"></i>
                                                        </a>
                                                        </div>
                                                        <div id="lot_size_square_feetForm" class="collapse">
                                                        <input min="0" step="1" class="form-control" type="number" value="" placeholder="83854" name="property[lot_size_square_feet]" id="property_lot_size_square_feet">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                              
                                            </div>
                                            <div class="row">
                                              <div class="col-md-12">
                                                <div class="not-my-property">
                                                  <a href="/" class="not-my-property-link">
                                                    Oops, this is not my property <i class="fe fe-angle-double-right"></i>
                                                  </a>
                                                </div>
                                              </div>
                                              <div class="col-md-12 col-sm-12 col-md-push-3 col-sm-push-3">
                                                <button style="margin: 30px 0 30px 0;" class="ladda-button btn btn-lg btn-primary" type="submit" data-style="zoom-in"><span class="ladda-label">
                                                  Add this property to my account
                                                </span><span class="ladda-spinner"></span></button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <!-- JAVASCRIPT
  ================================================== -->
    <% include ../partials/scripts %>

    <script type="text/javascript">
                              
        $(document).ready(function(){
          $('.collapse.in').on("click", function() {
            $(this).collapse("toggle")
            $(this).siblings('.collapse').collapse("toggle")
          })
          $(".collapse").on('shown.bs.collapse', function(){
            var v = $(this).find('input').val();
            $(this).find('input').focus().val(v);
          })
          $('a.show-form').parents("div.input-group").find("input").on("keyup", function(e){
            if (e.keyCode == '13')  {
              $(this).blur();
            }
          });
        
          $('a.show-form').parents("div.input-group").find("input").on("blur", function(e){
            if ($(this)[0].checkValidity()){
              $(this).parents("div.input-group").find(".input-value").html($(this).val());
              $(this).parents("div.input-group").find(".collapse").collapse("toggle");
            }
          });
          $('a.show-form').parents("div.input-group").find("select").on("change", function(e){
              $(this).parents("div.input-group").find(".input-value").html($(this).find("option:selected").text());
              $(this).parents("div.input-group").find(".collapse").collapse("toggle");
          });
        
        
          $(".input-group-disabled .input-group-addon a").on("click", function(e){
            e.preventDefault();
            $(this).parents(".input-group-disabled").removeClass("input-group input-group-disabled").find("input[readonly]").prop('readonly', false);
            $(this).parents(".input-group-addon").remove();
          });
        
          $("select#property_property_type").change(function(e){
            var units = { single_family: 1,  duplex: 2, triplex: 3, apartment: 1 }[$(this).val()];
            if (units) {
              $("input#property_num_units").val(units);
              $("input#property_num_units").parents("div.input-group").find(".input-value").html(units);
            }
        
          });
        
          var onerr = function(e, data, status, xhr){
              Ladda.stopAll();
              if (!data.responseJSON) { return; }
              var $validator = $('form.edit_property').validate();
              var errors = data.responseJSON;
              var errorMessages = {};
              for (key in errors) {
                if (errors[key].length == 0) continue;
                errorMessages['property[' + key + ']'] =
                  key.charAt(0).toUpperCase() +
                  key.substr(1) + ' ' +
                  errors[key][0];
              }
              $validator.showErrors(errorMessages);
          }
        
          $("form.edit_property").on("ajax:error", onerr);
        
        
        });
        </script>

    </body>
</html>