<!doctype html>
<html lang="en">
  <head>
    @@include("partials/head.html", {
      "title": "Dashkit"
    })
  </head>
  <body>

    <!-- MODALS
    ================================================== -->
    @@include("partials/modals.html")

    <!-- NAVIGATION
    ================================================== -->
    @@if (navPosition == 'sidenav' || navPosition == 'combo' || demoMode) {
      @@if (sidebarSize == 'base' || demoMode) {
        @@include("partials/sidebar.html", {
          "category": "pages",
          "subcategory": "",
          "page": "orders.html"
        })
      }
      @@if (sidebarSize == 'small' || demoMode) {
        @@include("partials/sidebar-sm.html", {
          "category": "pages",
          "subcategory": "",
          "page": "orders.html"
        })
      }
    }
    @@if (navPosition == 'topnav' || demoMode) {
      @@include("partials/topnav.html", {
        "category": "pages",
        "subcategory": "",
        "page": "orders.html"
      })
    }

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

      @@if (navPosition == 'combo' || demoMode) {
        @@include("partials/topbar.html")
      }

      <div class="@@if(navPosition=='sidenav'||navPosition=='combo'){container-fluid}@@if(navPosition=='topnav'){container}">
        <div class="row justify-content-center">
          <div class="col-12">
            
            <!-- Header -->
            <div class="header mt-md-5">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">
					  
                    <!-- Title -->
                    <h1 class="header-title">
                      Tenancies
                    </h1>

                  </div>

                </div> <!-- / .row -->
                <div class="row align-items-center">
                  <div class="col">
                    
                    <!-- Nav -->
                    <ul class="nav nav-tabs nav-overflow header-tabs">
                      <li class="nav-item">
                        <a href="#!" class="nav-link active">
                          All <span class="badge badge-pill badge-soft-secondary">823</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="#!" class="nav-link">
                          Occupied <span class="badge badge-pill badge-soft-secondary">24</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="#!" class="nav-link">
                          Vacant <span class="badge badge-pill badge-soft-secondary">3</span>
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>

            <!-- Card -->
            <div class="card" data-toggle="lists" data-options='{"valueNames": ["orders-order", "orders-product", "orders-date", "orders-total", "orders-status", "orders-method"]}'>
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Search -->
                    <form class="row align-items-center">
                      <div class="col">
                          <input type="search" class="form-control form-control-flush search" placeholder="Property 1">
                      </div>
                    </form>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Button -->

                    <div class="dropdown">
                      <button class="btn btn-sm btn-white" type="button" id="bulkActionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add Unit
                      </button>
                    </div>

                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="table-responsive">
                <table class="table table-sm table-nowrap card-table table-hover">
                  <thead>
                    <tr>
                      <th>
                        
                      </th>
                      <th>
                        <a href="#" class="text-muted">
                          Unit
                        </a>
                      </th>
                      <th>
                        <a href="#" class="text-muted">
                          Tenant Name
                        </a>
                      </th>
                      <th>
                        <a href="#" class="text-muted">
                          Rent
                        </a>
                      </th>
                      <th>
                        <a href="#" class="text-muted">
                          Deposit
                        </a>
                      </th>
                      <th>
                        <a href="#" class="text-muted">
                          Start Date
                        </a>
                      </th>
                      <th>
                        <a href="#" class="text-muted">
                          End Date
                        </a>
                      </th>
                      <th colspan="2">
                        <a href="#" class="text-muted">
                          Documents
                        </a>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox table-checkbox">
                          <input type="checkbox" class="custom-control-input" name="ordersSelect" id="ordersSelectOne">
                          <label class="custom-control-label" for="ordersSelectOne">
                            &nbsp;
                          </label>
                        </div>
                      </td>
                      <td class="orders-order">
                        Room 1
                      </td>
                      <td class="orders-product">
                        John Smith
                      </td>
                      <td class="orders-date">
                        £500
                      </td>
                      <td class="orders-total">
                        £650
                      </td>
                      <td class="orders-status">
                       <time datetime="2018-07-30">07/30/18</time>
                      </td>
                      <td class="orders-method">
                        <time datetime="2018-07-30">07/30/18</time>
                      </td>
                      <td class="orders-total">
                        2 Documents
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                          <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="#!" class="dropdown-item">
                              Edit
                            </a>
                            <a href="#!" class="dropdown-item">
                              Delete
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox table-checkbox">
                          <input type="checkbox" class="custom-control-input" name="ordersSelect" id="ordersSelectOne">
                          <label class="custom-control-label" for="ordersSelectOne">
                            &nbsp;
                          </label>
                        </div>
                      </td>
                      <td class="orders-order">
                        Room 1
                      </td>
                      <td class="orders-product">
                        John Smith
                      </td>
                      <td class="orders-date">
                        £500
                      </td>
                      <td class="orders-total">
                        £650
                      </td>
                      <td class="orders-status">
                       <time datetime="2018-07-30">07/30/18</time>
                      </td>
                      <td class="orders-method">
                        <time datetime="2018-07-30">07/30/18</time>
                      </td>
                      <td class="orders-total">
                        2 Documents
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                          <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="#!" class="dropdown-item">
                              Edit
                            </a>
                            <a href="#!" class="dropdown-item">
                              Delete
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
		
            <!-- Card -->
            <div class="card" data-toggle="lists" data-options='{"valueNames": ["orders-order", "orders-product", "orders-date", "orders-total", "orders-status", "orders-method"]}'>
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Search -->
                    <form class="row align-items-center">
                      <div class="col">
                          <input type="search" class="form-control form-control-flush search" placeholder="Property 2">
                      </div>
                    </form>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Button -->

                    <div class="dropdown">
                      <button class="btn btn-sm btn-white" type="button" id="bulkActionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add Unit
                      </button>
                    </div>

                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="table-responsive">
                <table class="table table-sm table-nowrap card-table table-hover">
                  <thead>
                    <tr>
                      <th>
                        
                      </th>
                      <th>
                        <a href="#" class="text-muted">
                          Unit
                        </a>
                      </th>
                      <th>
                        <a href="#" class="text-muted">
                          Tenant Name
                        </a>
                      </th>
                      <th>
                        <a href="#" class="text-muted">
                          Rent
                        </a>
                      </th>
                      <th>
                        <a href="#" class="text-muted">
                          Deposit
                        </a>
                      </th>
                      <th>
                        <a href="#" class="text-muted">
                          Start Date
                        </a>
                      </th>
                      <th>
                        <a href="#" class="text-muted">
                          End Date
                        </a>
                      </th>
                      <th colspan="2">
                        <a href="#" class="text-muted">
                          Documents
                        </a>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox table-checkbox">
                          <input type="checkbox" class="custom-control-input" name="ordersSelect" id="ordersSelectOne">
                          <label class="custom-control-label" for="ordersSelectOne">
                            &nbsp;
                          </label>
                        </div>
                      </td>
                      <td class="orders-order">
                        Room 1
                      </td>
                      <td class="orders-product">
                        John Smith
                      </td>
                      <td class="orders-date">
                        £500
                      </td>
                      <td class="orders-total">
                        £650
                      </td>
                      <td class="orders-status">
                       <time datetime="2018-07-30">07/30/18</time>
                      </td>
                      <td class="orders-method">
                        <time datetime="2018-07-30">07/30/18</time>
                      </td>
                      <td class="orders-total">
                        2 Documents
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                          <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="#!" class="dropdown-item">
                              Edit
                            </a>
                            <a href="#!" class="dropdown-item">
                              Delete
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox table-checkbox">
                          <input type="checkbox" class="custom-control-input" name="ordersSelect" id="ordersSelectOne">
                          <label class="custom-control-label" for="ordersSelectOne">
                            &nbsp;
                          </label>
                        </div>
                      </td>
                      <td class="orders-order">
                        Room 1
                      </td>
                      <td class="orders-product">
                        John Smith
                      </td>
                      <td class="orders-date">
                        £500
                      </td>
                      <td class="orders-total">
                        £650
                      </td>
                      <td class="orders-status">
                       <time datetime="2018-07-30">07/30/18</time>
                      </td>
                      <td class="orders-method">
                        <time datetime="2018-07-30">07/30/18</time>
                      </td>
                      <td class="orders-total">
                        2 Documents
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                          <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="#!" class="dropdown-item">
                              Edit
                            </a>
                            <a href="#!" class="dropdown-item">
                              Delete
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
		
        </div>
		
      </div>
      
    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    @@include("partials/scripts.html")

  </body>
</html>