.flex-1 {
    flex: 1;
}

.cursor-hand {
    cursor: pointer;
}

.d-c-none {
    opacity: 0;
}

.badge-group {
    position: absolute;
    right: 1rem;
    top: 0.75rem;
}

.main-content {
    margin-top: 67px;
}

.toast {
	z-index: 1070;
}

.navbar-dark {
    background-color: #051A35;
    border-color: #051A35;
}

.text-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.header-title {
    text-transform: capitalize;
}

.page.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.select2.select2-container {
    min-width: 144px;
}

.document-upload-image {
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    /*background-position-y: -25px;*/
    background-position-x: center;
}

.highcharts-credits {
    display: none;
}

[data-toggle="collapse"] .fe:before {   
  content: "\e996";
}

[data-toggle="collapse"].collapsed .fe:before {
  content: "\e9b1";
}

text.highcharts-axis-title {
    display: none;
}

.btn-custom {
    color: black;
    background-color: white;
    box-shadow: 0 0 1px 1px black;
}

.dataTables_length {
    display: inline;
    margin-right: 13.5rem !important;
}

div.dataTables_wrapper div.dataTables_length select, div.dataTables_wrapper div.dataTables_filter input {
    width: 100%;
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem .75rem;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #12263f;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d2ddec;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dataTables_filter {
    display: inline;
}

table.dataTable.table-sm .sorting:before, table.dataTable.table-sm .sorting_asc:before, table.dataTable.table-sm .sorting_desc:before {
    top: 14px;
}

table.dataTable.table-sm .sorting:after, table.dataTable.table-sm .sorting_asc:after, table.dataTable.table-sm .sorting_desc:after {
    top: 14px;
}

.dataTables_paginate a {
    border: 1px solid gray;
    padding: 0.25rem .75rem;
    cursor: pointer;
}

.dataTables_paginate a.disabled {
    opacity: 0.7;
    color: gray;
    cursor: default;
}

.dataTables_paginate a.previous {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.dataTables_paginate a.next {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.dataTables_paginate a.paginate_button.current {
    background: #2c7be5;
    color: white;
    border-right: none;
    border-left: none;
}

.dataTables_paginate span a.paginate_button {
    border-left: none;
    border-right: none;
}

.form-label {
    flex: 0 0 25%;
    max-width: 25%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    justify-content: flex-end !important;
}

.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
    margin-bottom: .75rem!important;
}

@media only screen and (max-width: 768px) {
    .form-wrapper {
        flex-direction: column;
    }

    .form-label {
        margin-left: 12px !important;
    }
}

.bg-grey {
    background-color: #9babb4;
}

.h-2 {
    height: .5rem;
}

.w-2 {
    width: .5rem;
}

.text-lg {
    font-size: 1.125rem;
}

.text-ss {
    font-size: .65rem;
}

.summary-edit-btn {
    position: absolute;
    top: 10px;
    right: 0;
}

/*.property-value-block:hover {
    background-color: #f0f3f8;
}
*/
.table-responsive .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dataTables_filter {
    display: none;
}

div.dataTables_wrapper div.dataTables_info {
    display: inline;
    margin-left: 1rem;
    position: absolute;
    bottom: -60px;
    margin-bottom: 1rem;
}

div.dataTables_wrapper div.dataTables_paginate {
    display: inline;
    float: right;
    margin-right: 1rem;
    position: absolute;
    bottom: -60px;
    right: 0;
    margin-bottom: 1rem;
}

@media screen and (max-width: 320px) {
    div.dataTables_wrapper div.dataTables_paginate {
        bottom: -100px;
    }
}

table.dataTable {
    margin: 0 auto .5rem auto !important;
}

table.dataTable.table-sm .sorting.checkbox:after, table.dataTable.table-sm .sorting_asc.checkbox:after, table.dataTable.table-sm .sorting_desc.checkbox:after {
    display: none;
}

table.dataTable.table-sm .sorting.checkbox:before, table.dataTable.table-sm .sorting_asc.checkbox:before, table.dataTable.table-sm .sorting_desc.checkbox:before {
    display: none;
}

table.dataTable.table-sm th:last-child:before, table.dataTable.table-sm th:last-child:after {
    display: none;
}

/* my property */
.property-block {
    transition: all 1.35s ease;
}

/* add new property */
.property-unit {
    transition: all .35s ease;
}

.property-unit.active, .property-unit:focus, .property-unit:hover {
    /*box-shadow: 0 .215rem .15rem #22D880,0 .25rem .25rem -.5rem #22D880;*/
    border: 1px solid #41D3BD;
}

.property-unit .fe-check-circle {
    display: none;
    color: #41D3BD !important;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.property-unit.active .fe-check-circle {
    display: inherit;
}

.property-unit div.text-center {
    padding: 1rem;
}

.ownership-empty-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 200px;
    align-items: center;
    position: relative;
}

.ownership-empty-block .addloan-btn {
    position: absolute;
    bottom: 30px;
}

.dz-message {
    padding: 0 0 2rem 0 !important;
}

.dz-message .big-title {
    color: #0E67DC;
}

.dz-message .small-title {
    font-size: 13px;
}

.cover-image {
    height: 200px;
    object-fit: cover;
}

.thumb-image {
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.document-name {
    white-space: nowrap; 
    /*max-width: 180px; */
    overflow: hidden;
    text-overflow: ellipsis; 
    font-size: 16px;
    font-weight: 700;
}

.document-lg-name {
    max-width: 280px; 
}

@media (max-width: 425px) {
    .document-lg-name {
        max-width: 180px; 
    }
}

/* transaction */
.transaction-item {
    display: flex;
    flex-wrap: wrap;
    padding: 1.2rem 0;
}

.transaction-item.list-group-item {
    border: none;
}

.transaction-item:nth-child(2n+1) {
}

.transaction-item:hover {
    background: #edf2f9;
    opacity: 0.8;
}

.transaction-item:not(:last-child) {
    border-bottom: 1px solid #edf2f9;
}

.col-container {
    display: table;
    width: 100%;
}
.col-item {
    display: table-cell;
    padding: 0 12px;
}

@media only screen and (max-width: 600px) {
    .col-item { 
        display: block;
        width: 100%;
    }
}

#property-search-list .list-group-item {
    padding: .5rem 1.25rem;
}

/*.avatar-lg {
    height: 76px !important;
}
*/
.avatar-xl {
    height: 76px !important;
}

.avatar-md {
    height: 65px !important;
    width: 65px !important;
}

/*.avatar-xxl {
    height: 6.125rem !important;
}*/

.marker {
    background-size: cover;
    width: 40px;
    height: 40px;
}

.single-marker {
    background-image: url('../img/map/single-marker-small.png');
}

.multiple-marker {
    background-image: url('../img/map/multi-marker-small.png');
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content, .leaflet-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 25px 15px 10px;
}

.chart-appended {
    display: flex;
    justify-content: center;
}

.custom-control-input:disabled~.custom-control-label:before {
    background-color: #eee !important;
}

.keydoc-pagination a.active {
    color: #6c757d;
}

.p-tenant {
    padding: 1.5rem 1rem 0 1rem;
}

.yield-select + .select2.select2-container .select2-selection {
    text-align: right;
    padding-right: 28px;
    border: none;
}

.select2.select2-container:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 47%;
    transform: translateY(-50%);
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.start-end-date-block {
    display: flex;
    align-items: center;
}

/* Invest */

/*.like-icon {
    opacity: 0;
    transition: all .5s ease; 
}

.invest-item:hover .like-icon {
    opacity: 1;
}*/

.invest-item:hover {
    opacity: 0.95;
}

.red {
    color: red;
    -webkit-text-stroke: thick;
}