
.cursor-hand {
    cursor: pointer;
}

.d-c-none {
    opacity: 0;
}

.badge-group {
    position: absolute;
    right: 1rem;
    top: 0.75rem;
}

.main-content {
    margin-top: 67px;
}

.toast {
	z-index: 1070;
}

.navbar-dark {
    background-color: #051A35;
    border-color: #051A35;
}

.text-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}