<div class="modal  fade" id="modalAddNewUnit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form id="add-unit-form" method="post" action="/property/unit/new/">
          <input type="hidden" name="_csrf" value="<%= token %>">
          <input type="hidden" id="property_id" name="property[id]" value="<%= property.id%>">
          <input type="hidden" name="unit[id]" value="">
          <input type="hidden" name="unit[tenants]" id="unit_tenants" value="">
          <div class="modal-content bg-lighter">
            <div class="modal-header">
                <!-- Header -->
              <h3 class="modal-title" id="unit-modal-title">Add a New Unit</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
    
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Unit Description
                    </label>
                    <input type="text" id="unit_description" name="unit[description]" class="form-control" placeholder="Description" value="" required>
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Deposit
                    </label>
                    <div class="input-group input-group-merge mb-3">
                      <input type="text" id="unit_deposit" onkeypress="return isNumberKey(event)"  name="unit[deposit]" class="form-control form-control-prepended number">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>£</span>
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Start Date
                    </label>
                    <input type="text" id="unit_start_date" name="unit[start_date]" class="form-control" value=""  data-toggle="flatpickr" required>
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      End Date (Optional)
                    </label>
                    <input type="text" id="unit_end_date" name="unit[end_date]" class="form-control" value=""  data-toggle="flatpickr">
                  </div>
    
                </div>
              </div> <!-- / .row -->
              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Rent Price
                    </label>
                    <div class="input-group input-group-merge mb-3">
                      <input type="text" id="unit_rent_price" onkeypress="return isNumberKey(event)"  name="unit[rent_price]" class="form-control form-control-prepended number">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span>£</span>
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Rent Frequency
                    </label>
                    <select class="form-control" id="unit_rent_frequency" name="unit[rent_frequency]" data-toggle="select" data-options='{"placeholder": "Select a frequency"}' required>
                      <option></option>
                      <option value="Daily">Daily</option>
                      <option value="Weekly">Weekly</option>
                      <option value="Fortnightly">Fortnightly</option>
                      <option value="Monthly">Monthly</option>
                    </select>
                  </div>
    
                </div>
              </div> <!-- / .row -->
              <div class="row">
                <div class="col-12 col-md-6">
                  <button type="submit" class="btn btn-outline-danger d-none btn-unit-delete action-unit">Delete this unit</button>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" id="addUnitBtn">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>