<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
<% if (token) {%>
<meta name="csrf" content="<%= token %>">
<% } %>

<!-- Libs CSS -->
<link rel="stylesheet" href="/fonts/feather/feather.min.css">
<link rel="stylesheet" href="/libs/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="/libs/quill/dist/quill.core.css">
<link rel="stylesheet" href="/libs/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="/libs/highlight.js/styles/vs2015.css">

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<!-- Map -->
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />

<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.0/css/bootstrap4-toggle.min.css" rel="stylesheet"> 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />

<!-- Theme CSS -->

<link rel="stylesheet" href="/css/theme.min.css">
<link rel="stylesheet" href="/css/custom.css">
    

<title><%= title %></title>