<div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form id="document-upload-form" method="post" action="/property/documents/upload_all" >
      <input type="hidden" name="_csrf" value="<%= token %>">
      <input type="hidden" id="status" name="document[status]" value="upload">
      <input type="hidden" id="document_id" name="document[id]" value="">
      <input type="hidden" id="document_size" name="document[size]" value="">
      <input type="hidden" id="document_mimetype" name="document[mimetype]" value="">
      <input type="hidden" id="document_filename" name="document[filename]" value="">
      <input type="hidden" id="document_path" name="document[path]" value="">
      <div class="modal-content bg-lighter">
        <div class="modal-header">
            <!-- Header -->
          <h3 class="modal-title">Upload Document</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="row property-row">
                <div class="col-12">
                  
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Properties
                    </label>
                    <select class="form-control" id="document_property" name="document[property]" data-toggle="select"  data-options='{"placeholder": "Select a Property"}' required>
                      <option></option>
                    </select>  
                  </div>
                </div>
              </div>
              <div class="row unit-row">
                <div class="col-12">
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Unit
                    </label>
                    <select class="form-control" id="document_unit" name="document[unit]" data-toggle="select"  data-options='{"placeholder": "Select a Unit"}'>
                      <option></option>
                    </select>  
                  </div>
                </div>
              </div>
              <div class="row unit-row">
                <div class="col-12">
                  <!-- Start date -->
                  <div class="form-group">
                    <label>
                      Category
                    </label>
                    <select class="form-control" name="document[category]" data-toggle="select"  data-options='{"placeholder": "Select a Category"}'>
                      <option></option>
                      <option value="All">All Categories</option>
                      <option value="Tenancy Documents">Tenancy Documents</option>
                      <option value="Certificates ">Certificates</option>
                      <option value="Title Deeds">Title Deeds</option>
                      <option value="Insurance">Insurance</option>
                      <option value="Mortgage & Financing">Mortgage & Financing</option>
                      <option value="Taxes">Taxes</option>
                      <option value="Plans">Plans</option>
                      <option value="Uncategorised">Uncategorised</option>
                    </select>  
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <!-- Start date -->
                  <div class="form-group">
                    <label> Tag </label>
                    <select class="form-control" name="document[tag]" id="document_tag" multiple="multiple">
                      <option>House</option>
                    </select>
                  </div>
    
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group d-none" id="documentUploadImage">
                    <label> Original Document </label>
                    <div class="document-upload-image"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="dropzone dropzone-multiple">

                <!-- Fallback -->
                <div class="fallback">
                  <input type="file" class="custom-file-input" id="customFileUploadMultiple">
                </div>

                <div class="dz-message" data-dz-message>
                  <span class="fe fe-download" style="font-size: 2.5rem;"></span>
                  <div>Choose a file or drag it here</div>
                </div>

                <!-- Preview -->
                <ul class="dz-preview dz-preview-multiple list-group list-group-lg list-group-flush">
                  <li class="list-group-item px-0">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <div class="avatar">
                          <img class="avatar-img rounded" src="..." alt="..." data-dz-thumbnail>
                        </div>
                      </div>
                      <div class="col ml-n3">
                        <h4 class="mb-1 document-name" data-dz-name>...</h4>
                        <p class="small text-muted mb-0" data-dz-size>...</p>
                      </div>
                      <div class="col-auto">
                        
                        <div class="dropdown">
                          <a href="#" class="dropdown-item" title="Remove file" data-dz-remove>
                            <i class="fe fe-trash" id="trashImage"></i>
                          </a>
                        </div>

                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="cancelDocumentBtn">Cancel</button>
          <button type="button" id="uploadDocumentBtn" class="btn btn-primary upload-img-btn">Save Changes</button>
        </div>
      </div>
    </form>
  </div>
</div>
