<!doctype html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body>
  <%- include('../partials/sidebar', {path}) %>

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

      <!-- HEADER -->
      <div class="header">
        
        <div class="container">

          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">

              <div class="col ml-n3 ml-md-n2">

                <!-- Title -->
                <h1 class="header-title">
                  Services
                </h1>

              </div>
			  

            </div> <!-- / .row -->
            <div class="row align-items-center">
              <div class="col">
                
                <!-- Nav -->
                <ul class="nav nav-tabs nav-overflow header-tabs"  role="tablist">
                  <li class="nav-item">
                    <a href="#services" data-toggle="tab" role="tab" aria-controls="services" aria-selected="true"  class="nav-link active">
                      Your Services
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#invoices" data-toggle="tab" role="tab" aria-controls="invoices" aria-selected="true" class="nav-link">
                      Invoices
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div> <!-- / .header-body -->

        </div>
      </div>

      <!-- CONTENT -->
      <div class="container mb-4">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade active show" id="services" role="tabpanel" aria-labelledby="services-tab">
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-body text-center">
                    <div class="text-center">
                      <a href="/services/instantValuations" class="card-avatar avatar avatar-lg mx-auto">
                        <img src="/img/icons/valuation.png" alt="" class="avatar-img rounded">
                      </a>
                    </div>
                    <h2 class="card-title text-center mb-3">
                      <a href="/services/instantValuations">Property Analytics</a>
                    </h2>

                    <p class="card-text text-center text-muted mb-4">
                      Discover the current market value of your portfolio. Get monthly valuation estimates and local yield comparisons
                    </p>
    				
                    <!-- Button -->
                    <a href="/services/instantValuations" class="btn btn-primary btn-block lift mb-4">
                      Manage
                    </a>

                    <div class="row align-items-center">
                      <div class="col">
                        <p class="card-text small text-muted">
                          <i></i> <%=cnt_enabled_properties%> enabled properties
                        </p>
                      </div>
                    </div> <!-- / .row -->
                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col">
                <!-- Card -->

              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="invoices" role="tabpanel" aria-labelledby="invoices-tab">
            <div class="row">
              <div class="card card-inactive w-100">
                <div class="card-body text-center">
                  <img src="/img/icons/empty2.png" alt="..." class="img-fluid" style="max-width: 182px;">
                   <h1>
                     No invoices yet.
                   </h1>
                   <p class="text-muted">
                     Your invoices will be displayed here
                   </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JAVASCRIPT
    ================================================== -->
    <% include ../partials/scripts %>

  </body>
</html>