<!doctype html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body>
  <% include ../partials/topnav %>

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

      <!-- HEADER -->
      <div class="header">
        
        <div class="container">

          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">

              <div class="col ml-n3 ml-md-n2">

                <!-- Title -->
                <h1 class="header-title">
                  Services
                </h1>

              </div>
			  
              <div class="col-auto">
                <!-- Button -->
                <a href="project-new.html" class="btn btn-primary lift">
                  Manage
                </a>

              </div>

            </div> <!-- / .row -->
            <div class="row align-items-center">
              <div class="col">
                
                <!-- Nav -->
                <ul class="nav nav-tabs nav-overflow header-tabs">
                  <li class="nav-item">
                    <a href="profile-posts.html" class="nav-link active">
                      Your Services
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="profile-groups.html" class="nav-link">
                      Invoices
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div> <!-- / .header-body -->

        </div>
      </div>

      <!-- CONTENT -->
      <div class="container mb-4">
        <div>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body text-center">
                  <div class="text-center">
                    <a href="/services/instantValuations" class="card-avatar avatar avatar-lg mx-auto">
                      <img src="/img/icons/valuation.png" alt="" class="avatar-img rounded">
                    </a>
                  </div>
                  <h2 class="card-title text-center mb-3">
                    <a href="/services/instantValuations">Instant Valuations</a>
                  </h2>

                  <p class="card-text text-center text-muted mb-4">
                    Get an instant valuation for your property powered by a sophisticated AVM model. Check in once a month for an updated price
                  </p>
  				
                  <!-- Button -->
                  <a href="/services/instantValuations" class="btn btn-primary btn-block lift mb-4">
                    Manage
                  </a>

                  <div class="row align-items-center">
                    <div class="col">
                      <p class="card-text small text-muted">
                        <i></i> 3 enabled properties
                      </p>
                    </div>
                  </div> <!-- / .row -->
                </div> <!-- / .card-body -->
              </div>
            </div>
            <div class="col">
              <!-- Card -->
              <div class="card">
                <div class="card-body text-center">
                  <div class="text-center">
                    <a href="#" class="card-avatar avatar avatar-lg mx-auto">
                      <img src="/img/icons/estimate.png" alt="" class="avatar-img rounded">
                    </a>
                  </div>
                  <h2 class="card-title text-center mb-3">
                    <a href="team-overview.html">Rent Estimate</a>
                  </h2>
                  <p class="card-text text-center text-muted mb-4">
                    For £19.99, get a detailed report for your property giving you a recommended rent price based on current market levels and demand in the area.
                  </p>
  				
                  <!-- Button -->
                  <a href="#" class="btn btn-primary btn-block lift mb-4">
                    Purchase a report
                  </a>

                  <div class="row align-items-center">
                    <div class="col">
                      <p class="card-text small text-muted">
                        <i></i> No Purchased Reports
                      </p>

                    </div>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JAVASCRIPT
    ================================================== -->
    <% include ../partials/scripts %>

  </body>
</html>