<!doctype html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body>
  <% include ../partials/topnav %>

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

      <!-- HEADER -->
      <div class="header">
        
        <div class="container">

          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">

              <div class="col ml-n3 ml-md-n2">
                
                <!-- Pretitle -->
                <p>
				          
                  <a href="/services"><span class="fe fe-corner-up-left mr-2"></span> Back to services</a>
                </p>

                <!-- Title -->
                <h1 class="header-title">
                  Instant Valuations
                </h1>

              </div>

            </div> <!-- / .row -->

          </div> <!-- / .header-body -->

        </div>

      </div> <!-- / .header -->
      
      <!-- CONTENT -->
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-8">
            
            <!-- Card -->
            <div class="card mb-3">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="#" class="avatar avatar-4by3">
                      <img src="/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img">
                    </a>

                  </div>
                  <div class="col ml-n2">
                    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="profile-posts.html">Property Name</a>
                    </h4>

                    <!-- Text -->
                    <p class="card-text small text-muted mb-1">
                      Last valuation: £200,000 (12 days ago)
                    </p>

                    <!-- Status -->
                    <p class="card-text small">
                      <span class="text-success">●</span> Auto-update on
                    </p>

                  </div>
                  <div class="col-auto">
                    
                    <!-- Button -->
                    <a href="#!" class="btn btn-sm btn-light d-none d-md-inline-block">
                      Disable
                    </a>

                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          View Property
                        </a>
                      </div>
                    </div>

                  </div>
                </div> <!-- / .row -->
              </div> <!-- / .card-body -->
            </div>

            <!-- Card -->
            <div class="card mb-3">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="#" class="avatar avatar-4by3">
                      <img src="/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img">
                    </a>

                  </div>
                  <div class="col ml-n2">
                    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="profile-posts.html">Property Name</a>
                    </h4>

                    <!-- Text -->
                    <p class="card-text small text-muted mb-1">
                      Last valuation:
                    </p>

                    <!-- Status -->
                    <p class="card-text small">
                      <span class="text-light">●</span> Inactive
                    </p>

                  </div>
                  <div class="col-auto">
                    
                    <!-- Button -->
                    <a href="#!" class="btn btn-sm btn-success d-none d-md-inline-block">
                      Activate
                    </a>

                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          View Property
                        </a>
                      </div>
                    </div>

                  </div>
                </div> <!-- / .row -->
              </div> <!-- / .card-body -->
            </div>
          </div>
          
          <div class="col-12 col-xl-4">
            <!-- Card -->
            <div class="card">
              <div class="card-body">

                <div class="row align-items-center">
				          <div class="col">

                    <h6 class="text-uppercase text-muted">
                      Amount you'll be charged for this service:
                    </h6>

                    <div class="my-4">
                      <span class="h1 mb-0 text-success">£0</span> <span class="h5 text-muted mb-2"> /month</h6>
                    </div>
									  <div class="text-muted">This service is included with your subscription</div>
                  </div>	
                </div>
              </div>
            </div>

          </div>
        </div> 
      </div>

    </div> 

    <!-- JAVASCRIPT
    ================================================== -->
    <% include ../partials/scripts %>

  </body>
</html>