<% property.tenancies.forEach( function(unit){ %>
                  <div class="row align-items-center unit-item">
                    <div class="col-auto">
                  
                      <!-- Avatar -->
                      <h1 class="mb-0 avatar avatar-md">
                        <img src="/img/icons/unit.png" class="avatar-img">
                      </h1>

                    </div>
                    <div class="col ml-n2 mr-auto">

                      <!-- Title -->
                      <h4 class="card-title mb-1">
                        <a href="#" class="edit-unit" data-unit="<%=JSON.stringify(unit)%>"><%= unit.description%></a>
                      </h4>

                      <!-- Time -->
                      <p class="card-text small text-muted">
                        <%= unit.start_date%> <%= unit.end_date ? '-' : ''%> <%= unit.end_date%>
                      </p>
                    </div>

                    <div class="col-auto text-right">
                      <!-- Title -->
                      <h4 class="card-title mb-1">
                        <% if (parseInt(unit.rent_price) > 0) {%>£<%= unit.rent_price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%><%}%>
                      </h4>
                      
                      <!-- Time -->
                      <p class="card-text small text-muted">
                        <%= unit.rent_frequency%>
                      </p>
                    </div>
                    <div class="col-auto">
                      <a href="#" class="edit-unit" data-unit="<%=JSON.stringify(unit)%>" title="Edit">
                        <i class="fe fe-chevron-right"></i>
                      </a>
                    </div>
                  </div>
                  
                  <!-- Divider -->
                  <hr>
                  <% })%>
                  <% if (property.tenancies.length == 0){%>
                  <p class="mb-3">
                    This property is currently vacant and has no active tenancies.
                  </p>
                  <% }%>